<div class="profile">
<h1> Jonathan Williams </h1>
<img width="325" height="446" src="profile.jpeg" />
<h2> I Migrate Datacenters </h2>
<p>I want to code because it makes our world go round. But I dont really want to code...</p>
 <a href="http://www.linkedin.com/pub/jonathan-williams/2a/167/9a5"> My LinkedIn Profile. I dont have twitter </a><br>

<h1> Send me a text message...</h1>
<form action="/" method="post">
<input type="submit" value="Enter your number and Click to Send SMS" />
<input id="sms" name="sms" type="text" value="(without dashes)" />
</form> 
  </div>